
<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" #name="ngModel" required>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price" #price="ngModel" required>
    <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
      Price is required
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="product.description" #description="ngModel" required>
    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
      Description is required
    </div>
  </div>

  <mat-form-field appearance = "fill" class="drop-down-list">
    <mat-label>Category</mat-label>
    <mat-select [(value)] = "product.category" name = "category" (selectionChange) = "changeCategory($event.value)">
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance = "fill" class="drop-down-list">
    <mat-label>Color</mat-label>
    <mat-select [(value)] = "product.color" name = "color" (selectionChange)="changeColor($event.value)">
      <mat-option *ngFor="let color of colors" [value]="color.name">
        {{color.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance = "fill" class="drop-down-list">
    <mat-label>Size</mat-label>
    <mat-select [(value)] = "product.size" name = "size" (selectionChange)="changeSize($event.value)">
      <mat-option *ngFor="let size of sizes" [value]="size.name">
        {{size.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" name="image" [(ngModel)]="product.image" #image="ngModel" required>
    <div [hidden]="image.valid || image.pristine" class="alert alert-danger">
      Image is required
    </div>
  </div>
  <!-- <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Submit</button> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let content of contents" class="mb-2">
      <mat-card class="mat-elevation-z0">
        <img mat-card-image src = {{content.image}} alt = {{content.title}} >
        
        <!-- <mat-card-header>
          <mat-card-title>{{content.name}}</mat-card-title>
        </mat-card-header> -->
<!-- 
        <mat-card-content>
          <h3>
            {{content.description}}
          </h3>
        </mat-card-content> -->

        <!-- <mat-card-content>
          <p class="small text-muted mb-4">Size : {{content.size}}</p>
        </mat-card-content> -->
        
        <!-- <mat-card-content>
          <div class="row justify-content-start col-md-12 mb-4 mb-lg-0">
            <p class="small text-muted">Color : </p> 
            <p class="small px-1">
                <fa-icon [icon] = "faCircle" style="color: {{content.color}}"></fa-icon> 
                {{content.color}}
            </p>
          </div>
        </mat-card-content> -->

        <!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center" >
          <mat-label> 
            <h3> 
              <b>
                Rs.{{content.price}} 
              </b>
            </h3>
          </mat-label>
          <button mat-raised-button color="primary" >Edit</button>
        </mat-card-actions> -->

      </mat-card>

      <div class="row justify-content-between">
        <div class = "col justify-content-start">
          <h3 class="mt-2 mb-2">
            {{content.name}}
          </h3>

          <!-- <p class="small text-muted mb-4">Description : {{content.description}}</p> -->
          <p class="small text-muted mb-2">Category: {{content.category}}</p>

          <p class="small text-muted mb-2">Size : {{content.size}}</p>
          
          <div class="row justify-content-start col-md-12 mb-4 mb-lg-0">
            <p class="small text-muted">Color : </p> 
            <p class="small px-1">
                <fa-icon [icon] = "faCircle" style="color: {{content.color}}"></fa-icon> 
                {{content.color}}
            </p>
          </div>
        </div>

        <div class = "col justify-content-end">
          <h3 class="col justify-content-end mt-2 mb-2">
            <strong>
              Rs.{{content.price}}
            </strong>
          </h3>

          <button class="col justify-content-end mt-2 mb-2" mat-raised-button color="primary" (click)="editProduct(content.id)" >Edit</button>
        
        </div>

      </div>
  </div>
</div>