
<div >
  <mat-radio-group class="category-column" [(ngModel)] = "selectedCategory" (change) = "categoryChange($event.value)">
    <mat-radio-button class="radio-button" *ngFor="let category of categories" [value]="category">
      {{category}}
    </mat-radio-button>
  </mat-radio-group>
</div>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let content of contents" >
      <mat-card class="mat-elevation-z4">
        <img mat-card-image src = {{content.image}} >

        <mat-card-header>
          <mat-card-title>{{content.name}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{content.description}}
          </p>
        </mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <mat-select (selectionChange) = "changeQuantity($event.value)">
              <mat-option *ngFor="let quantity of quantities" [value]="quantity.id">
                {{quantity.quantity}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card-actions fxLayout="row" fxLayoutAlign="center" >

            <mat-label> 
              <h3> 
                Rs.{{content.price}} 
              </h3>
            </mat-label>

            <button mat-raised-button color="primary" (click)="addToCart(content)">Add to Cart</button>

        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>