.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.category-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}


.mat-form-field {
  margin-top: 16px;
}

.mat-card {
  background-color: rgb(227, 252, 255);
}

.drop-down-list {
  margin-right: 16px;
}

.form-group {
  margin-top: 16px;
}